.currencyfield {
    margin-bottom: 10px;
}

.currencyfield label {
    margin-left: 4px;
    display: block;
    font-weight: bold;
}

.currencyfield input {
    border: none;
    width: 100%;
    height: 30px;
    border: 1px solid #0b3474;
    border-radius: 10px;
}

.currencyfield input:hover {
    border: 1px solid orange;
}