.select {
    margin-bottom: 10px;
}

.select label {
    margin-left: 4px;
    display: block;
    font-weight: bold;
}

.select select {
    height: 34px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #0b3474
}

.select select:hover {
    border-color: orange;
}